section{
    padding: 50px 80px 0 80px;
}

.main{
    background: #001744;
    position: relative;
    z-index: 1;
}

.web-head{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.brief{
    margin-top: 100px;
}

.landing-img{
    scale: 1.1;
    position: relative;
    height: 450px;
    top :100px;
    right: 80px;
    z-index: 2;
}

.brief h1 {
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
    line-height: 1;
    color: rgba(255,255,255,0.9);
}

.brief h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
}

.brief p {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 2.5rem;
    color: rgba(255,255,255,0.85);
}

.button{
    margin-top: 30px;   
}

.landing-btn{
    padding: 13px 30px !important;
    font-size: 1.2em !important;
}

.small-title{
    font-size: 1em;
}

.title{
    font-size: 3em;
    color: var(--secondary-color);
    margin-bottom: 30px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.title-cont{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

.disorder-name{
    font-size: 1.5em;
    font-weight: 500;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.1);
    border: 1px solid var(--secondary-color);
    padding: 1em;
    width: 382px;
    transition: 0.5s ease;
}

.card .icon{
    padding: 0.5em;
    font-size: 4em;
}

.card:hover{
    transform: translateY(-15px);
    -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
}

.services{
    padding-bottom: 50px;
}

.parteners{
    background: #001744;
    padding-bottom: 50px;
}

.parteners p{
    color: white;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.partner-card {  /*needs edits in media screen*/
    flex-basis: calc(25% - 15px);
    flex: 0 0 calc(25% - 50px );
    perspective: 1000px;
    cursor: pointer;
}

.partner-card p{
    color: white;
    font-size: 0.8em;
    margin-top: 10px;
}

.img-info h1{
    color: white;
    font-size: 1em;
    margin-top: 10px;
}

.parteners img{
    width: 181px;
    height: 175px;
    
}

.partner-img{
    height: 220px;
    /* width: 200px; */
    border-radius: 15px;
    border: none;
    padding: 5px;
    background: #002059;
    /* transition: 0.6s ease-in-out; */
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.partner-img img{
    width: 100%;
    height: auto;
}

a img.contact-info{
    width: 15%;
    height: auto;
    margin: 0;
    padding: 0;
}

.contact-info-link {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info-link:hover {
    color: #0bbfe2;
    text-decoration: underline;
}

.front-card, .img-info {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.front-card img {
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
}

.img-info {
  width: 100%;
  height: max-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease;
  transform: scale(0.9);
}

/* Hover effects */
.partner-card:hover .front-card {
  opacity: 0;
  transform: scale(0.9);
}

.partner-card:hover .img-info {
  opacity: 1;
  transform: scale(1);
}

.container a{
    text-decoration: none;
}

.img-info h1{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}


.number{
    padding-bottom: 50px;
}


.number-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.1);
    border: 1px solid var(--secondary-color);
    padding: 1em;
    width: 382px;
    transition: 0.5s ease;
}

.number-card:hover{
    transform: translateY(-15px);
    -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
}

.number-card h1{
    font-size: 3em;
    color: var(--secondary-color);
}

.number-card p{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.vision{
    background: #001744;
    padding: 130px 80px 50px 80px;
    color: white;
}

.mission{
    padding-bottom: 50px;
    color: #000;
}

.board{
    padding-bottom: 50px;
    background: #001744;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.img-container{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.board-info{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column-reverse;
    background: linear-gradient(0deg, rgba(17, 21, 31, 1) 0%, rgba(17, 21, 31, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    transition: all 0.9s ease;
    align-items: center;
    display: none;
    opacity: 0;
    color: #fff;
    padding-bottom: 13px;
}

.img-container:hover .board-info{
    display: flex;
    opacity: 1;
}

.cards-icons{
    margin-top: -10px;
}
.position{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 30px;
}

.board-info{
    text-align: center;
}

.board-img{
    height: 340px;
    width: 223px;
    border: 2px solid #0bbfe2;
    background: #002059;
    transition: 0.6s ease-in-out;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    object-fit: cover;
    border-radius: 10px;
}

.board-img:hover{
    border: 2px solid var(--secondary-color);
    height: 370px;
    width: 220px;
    border-radius: 10px;
    scale: 1.1;
}

.board-img img{
    object-fit: cover;
    width: 100%;
}

.img-container{
    overflow: hidden;
}

.img-container::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}


.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container::after:hover .img-container{
    scale: 1.1;
}

.filter-btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    flex-wrap: wrap;
}

.item{
    background-color: #002059;
    width: 299px;
    border: #0bbfe2 2px solid;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    height: fit-content;
}

.item-info{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: fit-content;
}

.category{
    font-weight: 600;
    font-size: 0.8em;
    color: #0bbfe2;
}


.item-info p{
    font-size: 0.8em;
}

.item-pic{
    width: 100%;
}

.item .item-pic img{
    object-fit: cover;
    width: 100%;

}

.more-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    align-items: center;
}

.more-info p{
    font-weight: bold;
    font-size: 1em;
}

.more-info a{
    text-decoration: none;
    color: #0bbfe2;
    font-weight: bold;
}

.more-info a:hover{
    text-decoration: underline;
}

.events-slider{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 50px;
}

.left-line, .right-line{
    width: 28%;
    height: 1px;
    border-bottom: #0bbfe2 3px solid;
}

.item-info > h3{
    margin-bottom: 10px;
}

.rectangle{
    background: #002059;
    border-radius: 10px;
    width: 100%;
    padding: 1em;
    margin-top: 20px;
    color: #fff;
}

.rectangle .title{
    font-size: 2em;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.rectangle .due{
    font-weight: bold;
}

.rectangle .apply-btn{
    background: #0bbfe2;
    border-radius: 10px;
    color: #fff;
    padding: 0.7em 1.2em;
}



@media (max-width: 1024px){

    .landing-img{
        display: none;
    }

    .circle{
        display: none;
    }

    .partner-card {  /*needs edits in media screen*/
        flex-basis: calc(33% - 15px);
        flex: 0 0 calc(33% - 50px );
    }

    /* header {
        background-color: purple;
    } */
}

@media (max-width: 768px){
    header{
        padding: 15px 20px;
        /* background-color: blue; */
    }

    .navigation a, .sign{
        margin: 10px 0;
    }

    .card{
        width: 299px;
    }

    .landing-img{
        display: none;
    }

    .circle{
        display: none;
    }

    .brief p {
        width: 673px;
    }

    .container{
        gap: 10px;
    }

    .nav-icon{
        display: block;
        transition: 0.5s ease;
    }

    .navigation{
        display: none;
    }

    .partner-card {  /*needs edits in media screen*/
        flex-basis: calc(50% - 15px);
        flex: 0 0 calc(50% - 50px );
    }
}

@media (max-width: 430px){
    header{
        padding: 15px 20px;
        /* background-color: green; */
    }

    .title{
        font-size: 2.5em;
    }

    body{
        font-size: 15px;
    }

    .navigation a, .sign{
        margin: 0 0;
    }
    .navigation a{
        font-size: 8px;
    }
    .nav-icon{
        display: block;
    }

    .navigation{
        display: none;}


    .navigation a{
        font-size: 1.2em;
        padding: 20px 0;
    }

    .vision{
        padding: 130px 20px 50px 20px;
    }

    .logo-container img{
        width: 50px;
        height: 50px;
    }

    .brief{
        margin-top: 50px;
    }

    .brief h1{
        font-size: 2em;
    }

    .brief p{
        width: 100%;
    }

    .landing-img{
        display: none;
    }

    .circle{
        display: none;
    }

    .container{
        gap: 10px;
    }

    .card{
        width: 100%;
    }

    .number-card{
        width: 100%;
    }

    footer, section{
        padding: 50px 20px;
    }

    .footer-container{
        flex-direction: column;
        gap: 20px;
    }

    .line{
        flex-direction: column;
        gap: 10px;
    }

    .social-icons{
        justify-content: center;
    }
    .carousel{
        width: 100% !important;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .partner-card {  /*needs edits in media screen*/
        flex-basis: calc(100% - 15px);
        flex: 0 0 calc(100% - 50px );
    }
}


